BASE_DOMAIN=localhost:8080
SUPA_ANON=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzcxNDIxMTE5LCJleHAiOjE5MjkxMDExMTl9.t0s1zKenLJHyVrZI6KSvPP9EfSZGItLH-p3tJ7S01xY
SUPA_URL=http://localhost:8000
API_DOMAIN=localhost:8000/functions/v1
#CAPTCHA_KEY=your-turnstile-key

BRANCH=local
